services:
  postgres:
    image: postgres:16
    container_name: kuulan-postgres
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - kuulan_pgdata:/var/lib/postgresql/data

volumes:
  kuulan_pgdata:
